/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* COLOR */
:root {
  --primary: #ffb30e;
  --secondary: #ff8a00;
  --warning: #f17228;
  --background: #fff;
  --address-button: #ff7a7a;
  --button-bg: #f8e0c5e8;
  --Success: #79b93c;
}

.container {
  width: 80vw;
  margin: auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: 500;
}
html {
  font-size: 13px;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
p {
  font-size: 1.1em;
}
.vertical-padding {
  padding: 30px 0;
}

/* HEADER START */
header .side img {
  display: none;
}
header {
  padding: 10px 0;
}
.logo {
  width: 200px;
}
.location p i {
  color: var(--primary);
}
.login .ri-search-line {
  color: var(--primary);
}
.login .ri-user-fill {
  color: var(--secondary);
}
.login input {
  border: none;
  width: 100px;
  padding-left: 5px;
}
.login button {
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: var(--primary) 0px 5px 15px;
  padding: 5px 15px;
  color: var(--secondary);
}
/* HEADER END */

/* HERO SECTION START */
#hero {
  background: linear-gradient(
    167deg,
    rgba(255, 184, 0, 1) 71%,
    rgba(255, 138, 0, 1) 100%
  );
}
.text {
  padding: 30px 0;
}
.text p {
  padding: 10px 0;
}
.form {
  background-color: var(--background);
  border-radius: 8px;
  width: 500px;
  padding: 7px;
}
.form input {
  border: none;
  background-color: #ebeaea;
  padding: 3px;
  border-radius: 4px;
  width: 360px;
}
.form .delivery {
  color: var(--warning);
  background-color: #f3e8e1;
  border: none;
  padding: 2px 10px;
  border-radius: 5px;
}
.form .pickup {
  margin: 12px;
  background: none;
  border: none;
}
form .ri-map-pin-2-fill {
  color: var(--address-button);
}
form .find-food {
  margin-top: 13px;
  margin-left: 5px;
  border: none;
  padding: 4px 15px;
  border-radius: 3px;
  background-color: var(--address-button);
  color: var(--background);
}

.main-img img {
  height: 240px;
  /* margin-top: 50px; */
  /* padding-top: 30px
  ;padding-bottom: 40px; */
  /* position: relative; */
  /* top: 30px; */
}
/* HERO SECTION END */

/* DEALS SECTION START */
.deal-box {
  width: 150px;
  margin-left: 20px;
}
.deal-box .deal-tag span {
  color: var(--warning);
  background-color: var(--button-bg);
  padding: 2px 7px;
  border-radius: 4px;
  font-size: 0.8em;
}
.deal-box .deal-tag h4 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.img-box img {
  border-radius: 10px;
  height: 150px;
  width: 180px;
  margin: auto;
}
.img-box {
  position: relative;
  width: 155px;
}
.img-box span {
  position: absolute;
  bottom: 3px;
  left: 0;
  padding: 10px;
  font-size: 1.5em;
  color: var(--background);
  background-color: #ffb30e;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* DEALS SECTION END */

/* TEXT START  */
#text-section {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 206, 103, 0.22) -42.47%,
    rgba(253, 237, 202, 0) 100%
  );
}
.text {
  width: 70vw;
  margin: auto;
}
.text .content {
  margin: 10px;
}
.text .content img {
  height: 110px;
  width: 100px;
  margin: auto;
}
#text-section .text p {
  font-size: 0.8em;
}
/* TEXT END  */

/* POPULAR ITEMS START */
#popular-items h2 {
  text-align: center;
}
.angel {
  position: relative;
  top: 100px;
}
.angel img {
  padding: 5px;
  height: 35px;
}
.right-angel {
  border-radius: 50%;
  background-color: var(--primary);
  text-align: center;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 30px;
}
.left-angel {
  border-radius: 50%;
  background-color: var(--primary);
  text-align: center;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 30px;
}

.items-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.img-card img {
  width: 150px;
  height: 140px;
  margin-bottom: 6px;
  border-radius: 10px;
}
.img-card p {
  padding: 6px 0;
  color: var(--primary);
  font-size: 0.9em;
}

.img-card h4,
span {
  padding-left: 2px;
}
.img-card button {
  display: block;
  color: var(--background);
  background-color: var(--warning);
  border: none;
  padding: 8px 42px;
  font-size: 1em;
  border-radius: 4px;
  margin-top: 6px;
}
/* POPULAR ITEMS END */

/* FEATURED RESTAURANTS START */
#featured-restaurants h2 {
  text-align: center;
}
.restaurant-main {
  row-gap: 30px;
}
.restaurant-img img {
  width: 180px;
  height: 160px;
  margin: auto;
  border-radius: 10px;
}

.restaurant-img .tags {
  position: relative;
  color: var(--background);
}
.restaurant-img .tags i {
  padding-right: 5px;
}
.restaurant-img .off-tag {
  background-color: var(--warning);
  border-radius: 5px;
  padding: 3px 4px;
  position: absolute;
  bottom: 125px;
  left: 10px;
}
.restaurant-img .fast-tag {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 3px 3px;
  position: absolute;
  bottom: 125px;
  left: 85px;
}

.restaurant-box .title {
  display: flex;
  margin-top: 6px;
}
.restaurant-box .title img {
  width: 40px;
  margin-right: 8px;
}
.title span {
  color: var(--primary);
}
.title h4 {
  padding-left: 3px;
}
.restaurant-box .warning-button {
  background-color: var(--button-bg);
  color: var(--warning);
}
.restaurant-box button {
  color: var(--Success);
  background-color: #79b93c33;
  border: none;
  padding: 3px 8px;
  border-radius: 8px;
  margin-top: 12px;
}
.button-view-all {
  text-align: center;
}
.button-view-all .view-all {
  background: linear-gradient(97.86deg, #ffba26 -8.95%, #ff9a0e 109.24%);
  color: var(--background);
  border-radius: 7px;
  padding: 8px 20px;
  border: none;
  font-size: 0.9em;
  margin: 40px 0 10px 0;
}
/* FEATURED RESTAURANTS END */

/* SEARCH BY FOOD START */
#search-by-food {
  background: #fefaf1;
}
.search-angel span {
  color: var(--primary);
  margin-right: 10px;
  font-size: 0.8em;
}
.heading .search-angel img {
  color: var(--background);
  background-color: var(--primary);
  padding: 5px;
  width: 28px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
}
.circle-img h4 {
  text-align: center;
}
#search-by-food .circle-img img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
}
/* SEARCH BY FOOD END */

/* DOWNLOAD SECTION START */
#download {
  padding-top: 30px;
  background: #feefd0;
  background: linear-gradient(
    182deg,
    rgba(254, 239, 208, 1) 85%,
    rgba(255, 174, 0, 1) 15%
  );
}
.download-card {
  width: 45vw;
  margin: auto;
  padding: 15px;
  background-color: var(--background);
  border-radius: 8px;
  margin-top: 20px;
}

.download-card img {
  width: 60px;
  height: 60px;
  margin: auto;
}

.download-card h4 {
  color: var(--warning);
}

.download-app {
  width: 50vw;
  margin: auto;
  padding-top: 20px;
}
.download-app p {
  padding: 8px 0;
  font-size: 0.9em;
  width: 250px;
}
.download-app h2 {
  color: var(--primary);
  font-size: 2.5em;
}
.download-app .mobile img {
  width: 290px;
  height: 240px;
  margin: auto;
}
.download-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.download-button button {
  border: none;
  background-color: var(--background);
  padding: 1px 6px;
  border-radius: 5px;
}
.download-button span {
  font-size: 0.6em;
}
.download-button i {
  color: var(--warning);
  font-size: 1.5em;
}
/* DOWNLOAD SECTION END */

/* ARTICLE SECTION START */
article {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.article-text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 50px;
}
.article-text .primary {
  font-size: 1.6em;
  color: var(--primary);
}
.article-text .black {
  font-size: 1.6em;
}
.article-text p {
  font-size: 0.8em;
  color: #616161b0;
  padding: 10px 0 60px 0;
}
.article-text button {
  border: none;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  padding: 8px;
  font-size: 0.8em;
  color: var(--background);
  border-radius: 5px;
}
article img {
  width: 550px;
  height: 263px;
  margin: auto;
  border-radius: 10px;
  display: flex;
}
/* ARTICLE SECTION END */

/* BACKGROUND SECTION START */
.background {
  overflow: hidden;
  position: relative;
}
.background img {
  height: 180px;
  width: 100vw;
  margin: auto;
  display: flex;
}
.background .background-content {
  position: absolute;
  text-align: center;
  bottom: 35px;
  left: 340px;
}
.background h1 {
  color: var(--background);
  line-height: 1;
}
.background button {
  background: linear-gradient(93.41deg, #f17228 -5.63%, #f15e28 100.8%);
  color: var(--background);
  padding: 8px 20px;
  font-size: 0.6em;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}
/* BACKGROUND SECTION END */

/* FOOTER START */
footer {
  background-color: #212121;
  color: var(--background);
}
footer h6,
h5 {
  color: #b7b3b3;
}
footer h3,
h5 {
  padding-bottom: 10px;
}
footer .terms {
  gap: 60px;
}
footer p {
  font-size: 0.7em;
  padding: 5px 0 15px 0;
}
.footer-icon i {
  color: #b7b3b3;
}
footer p i {
  color: var(--primary);
}
footer input[type="submit"] {
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  color: var(--background);
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
footer input[type="email"] {
  background-color: #424242;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
/* FOOTER END */

/* RESPONSIVE START */

/* MOBILE START */
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  header .side img {
    width: 50px;
    display: flex;
  }

  #hero .row {
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;
  }

  header p,
  .login {
    display: none;
  }
  header img {
    width: 80vw;
  }
  .text .form,
  .form input {
    width: 100%;
    margin: auto;
  }

  .main-img img {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-right: 40px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .deal-box .img-box img {
    width: 90vw;
    height: auto;
    margin: auto;
  }
  .text {
    flex-direction: column;
  }

  #popular-items .angel {
    display: none;
  }
  .items-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .items-content .img-card img {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    height: 300px;
  }
  .restaurant-img img {
    width: 90vw;
    margin: auto;
    height: 300px;
  }
  .restaurant-img .tags {
    position: relative;
    bottom: 140px;
  }

  .circle-img {
    /* flex-wrap: wrap; */
    gap: 30px 0;
    flex-direction: column;
  }

  #download .download-card,
  .download-app {
    flex-direction: column;
    gap: 20px;
  }
  .download-app {
    width: 90vw;
    justify-content: center;
    text-align: center;
  }
  .download-app .mobile p,
  .download-button {
    padding: 10px 0;
    justify-content: center;
  }

  article {
    flex-direction: column;
  }

  article img {
    width: 100%;
    height: auto;
  }

  .background .background-content {
    left: 52%;
    top: 8%;
    transform: translateX(-50%);
    font-size: 0.7em;
  }

  footer .row {
    flex-direction: column;
    text-align: center;
  }

  footer input[type="email"] {
    width: 80%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    width: 90%;
    margin: auto;
  }

  header .container {
    align-items: flex-start;
    row-gap: 10px;
  }

  #hero .row {
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;
  }
  header p,
  .location {
    display: none;
  }
  header img {
    width: 80vw;
  }

  .text .form,
  .form input {
    width: 100%;
    margin: auto;
  }

  .main-img img {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-right: 40px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .deal-box .img-box img {
    width: 80vw;
    margin: auto;
  }
  .text {
    flex-direction: column;
  }

  #popular-items .angel {
    display: none;
  }
  .items-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .items-content .img-card img {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    height: 300px;
  }
  .restaurant-img img {
    width: 90vw;
    margin: auto;
    height: 300px;
  }
  .restaurant-img .tags {
    position: relative;
    bottom: 140px;
  }

  .circle-img {
    /* flex-wrap: wrap; */
    gap: 30px 0;
    flex-direction: column;
  }

  #download .download-card,
  .download-app {
    flex-direction: column;
    gap: 20px;
  }
  .download-app {
    width: 90vw;
    justify-content: center;
    text-align: center;
  }
  .download-app .mobile p,
  .download-button {
    padding: 10px 0;
    justify-content: center;
  }

  article {
    flex-direction: column;
  }

  article img {
    width: 100%;
    height: auto;
  }

  .background .background-content {
    left: 52%;
    top: 8%;
    transform: translateX(-50%);
    font-size: 0.7em;
  }

  footer .row {
    flex-direction: column;
    text-align: center;
  }

  footer input[type="email"] {
    width: 80%;
    margin-bottom: 10px;
  }
}
/* MOBILE END */

/* RESPONSIVE END */